@model IEnumerable <ABMODELE.Models.Categoria>

@{
    ViewBag.Title = "Store";
}

<h2>Browse Categoria</h2>
<p>

    Select from @Model.Count()
</p>

<ul>
    @foreach (var categoria in Model)
    {
        <li>@Html.ActionLink(categoria.nombre, "Browse", new { categoria = categoria.nombre })</li>
    }
</ul>
