@{
    ViewBag.Title = "Contacta con nosotros";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Edificio Isabel Brown Caces<br />
    Av. Brasil 2241<br />
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:porfavorNoNosContactes@gmail.com">porfavorNoNosContactes@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:enserioNoLoHagas@gmail.com">enserioNoLoHagas@gmail.com</a>
</address>