@model ABMODELE.Models.ViewModel.HomeViewModel

@{
    ViewBag.Title = "CafetApp";
}


<ul>
    @foreach (var categoria in Model.categorias)
    {
        <li>@Html.ActionLink(categoria.nombre, "Browse","Productos",    new { categorias = categoria.nombre }, "")</li>
    }
</ul>