@model ABMODELE.Models.ViewModel.ProductoPersonalizadoPartialViewModel
@{
    ViewBag.Title = "View";
}


<div class="child-page-listing">

    <h2>Our Locations</h2>

    <div class="grid-container">

        <article id="3685" class="location-listing">

            <a class="location-title" href="#">
                San Francisco
            </a>

            <div class="location-image">
                <a href="#">
                    <img width="300" height="169" src="~/Content/img/Categorias/pug.jpg" alt="san francisco">
                </a>

            </div>

        </article>
    </div>
</div>


